<footer class="page-footer font-small footer py-3 row justify-content-center">
    <div class="footer-copyright text-center text-light col-12 texto">Fernando Murguia 3729 © Todos los derechos reservados 2020.</div>
    <div class="col-12 align-items-center">
        <div class="row justify-content-center pt-2">
            <a href="#" class="redes"><img src="./../../../assets/facebook.png" class="img-fluid mr-1" alt="logo_facebook"></a>
            <a href="#" class="redes"><img src="./../../../assets/twitter.png" class="img-fluid mr-1" alt="logo_twitter"></a>
            <a href="#" class="redes"><img src="./../../../assets/instagram.png" class="img-fluid mr-1" alt="logo_instagram"></a>
        </div>
    </div>
    <div>
        <ul class="row justify-content-center">
            <li class="col-12">
                <a class="mr-3" href="">Terminos</a>
                <a class="mr-3" href="">Privacidad</a>
                <a class="mr-3" href="">Acerca de</a>
            </li>
        </ul>
    </div>
</footer>