/*CONVERSOR*/

.titulo-conversor-pers {
    background-color: #5c9ccc;
}

.titulo2-conversor-pers {
    background-color: #02406c
}

.fondo1-pers {
    background: rgb(48, 98, 135);
    background: -moz-linear-gradient(top, rgb(48, 98, 135) 0%, rgb(2, 64, 108) 100%);
    background: -webkit-linear-gradient(top, rgb(48, 98, 135) 0%, rgb(2, 64, 108) 100%);
    background: linear-gradient(to bottom, rgb(48, 98, 135) 0%, rgb(2, 64, 108) 100%);
}

.fuente-convertidor-pers1 {
    color: #5388af;
}

.borde-convertidor-pers1 {
    border: 2px solid #b8d4e8;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.boton-convertidor-pers1 {
    background-color: #f3b02f;
}

.selector {
    color: rgb(42, 43, 45);
}